1.2.2 Реализован гостевой вход или возможность использования без авторизации. Внутренний прогресс при этом должен сохраняться.
1.3 При сворачивании страницы с игрой или WebApp на десктопных и мобильных устройствах звук прекращает воспроизводиться









































